<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="application.properties"/>

    <bean class="OrderFactoryImpl" id="orderFactory"/>

    <bean class="OrdersStatImpl" id="ordersStat"/>

    <bean class="KitchenImpl" id="kitchen" init-method="init">
        <property name="receiveRate" value="${kitchen.receiveRate}"/>
        <property name="courierDelayMin" value="${courier.delayMin}"/>
        <property name="courierDelayMax" value="${courier.delayMax}"/>
        <property name="overflowShelf" ref="overflow"/>
        <property name="shelves">
            <map>
                <entry key="hot" value-ref="hot"/>
                <entry key="cold" value-ref="cold"/>
                <entry key="frozen" value-ref="frozen"/>
            </map>
        </property>
    </bean>

    <bean class="OrderDispatcher" id = "orderDispatcher">
        <property name="orderFile" value="${orderDispatcher.orderFile}"/>
        <property name="orderFactory" ref="orderFactory"/>
        <property name="kitchen" ref="kitchen"/>
        <property name="ordersStat" ref="ordersStat"/>
    </bean>

    <bean class="ShelfImpl" id="hot" init-method="init">
        <property name="shelfName" value="hotShelf"/>
        <property name="capacity" value="10"/>
        <property name="decayModifier" value="1"/>
        <property name="sleepInterval" value="${loop.sleepInterval}"/>
        <property name="ordersStat" ref="ordersStat"/>
    </bean>
    <bean class="ShelfImpl" id="cold" init-method="init">
        <property name="shelfName" value="coldShelf"/>
        <property name="capacity" value="10"/>
        <property name="decayModifier" value="1"/>
        <property name="sleepInterval" value="${loop.sleepInterval}"/>
        <property name="ordersStat" ref="ordersStat"/>
    </bean>
    <bean class="ShelfImpl" id="frozen" init-method="init">
        <property name="shelfName" value="frozenShelf"/>
        <property name="capacity" value="10"/>
        <property name="decayModifier" value="1"/>
        <property name="sleepInterval" value="${loop.sleepInterval}"/>
        <property name="ordersStat" ref="ordersStat"/>
    </bean>
    <bean class="OverflowShelfImpl" id="overflow" init-method="init">
        <property name="shelfName" value="overflowShelf"/>
        <property name="capacity" value="5"/>
        <property name="decayModifier" value="2"/>
        <property name="enforcePlace" value="true"/>
        <property name="sleepInterval" value="${loop.sleepInterval}"/>
        <property name="ordersStat" ref="ordersStat"/>
    </bean>

</beans>
